Repository gmsol-labs/gmx-solana, pull requests merged in 2025-06, with the labels that each got.

#127 competition: add InvalidTradeEvent error
  programs/competition/src/error.rs
  programs/competition/src/instructions/participant_init.rs
  programs/competition/src/instructions/trade_callback.rs
Labels: A-programs, T-refactor

#126 feat(utils): refactor `PriceFeedPrice` into `gmsol-utils` crate
  CHANGELOG.md
  Cargo.lock
  crates/chainlink-datastreams/Cargo.toml
  crates/chainlink-datastreams/src/error.rs
  crates/chainlink-datastreams/src/gmsol.rs
  crates/chainlink-datastreams/src/lib.rs
  crates/gmsol/src/cli/inspect.rs
  crates/utils/src/price/feed_price.rs
  crates/utils/src/price/mod.rs
  programs/store/Cargo.toml
  programs/store/src/instructions/oracle/custom.rs
  programs/store/src/states/oracle/feed.rs
Labels: S-blocker, A-programs, T-refactor

#135 competition: add volume merging rules
  crates/cli/src/commands/competition.rs
  crates/programs/idls/gmsol_competition.json
  crates/programs/src/lib.rs
  crates/sdk/src/client/ops/competition.rs
  crates/sdk/tests/anchor_test/competition.rs
  programs/competition/src/error.rs
  programs/competition/src/instructions/competition_init.rs
  programs/competition/src/instructions/participant_init.rs
  programs/competition/src/instructions/trade_callback.rs
  programs/competition/src/lib.rs
  programs/competition/src/states.rs
Labels: T-feature, A-programs
